*{
    margin: 0;
    padding: 0;
    
}
body{  
    background-image: url("house5.jpg");
    background-color: #333333;
    font-family: 'Courier Prime', monospace;
}
header{
    width: 100%;
    height: 50%;
    margin: 10px;
    padding: 10px;
}

header h1 {
    text-align: left;
    float: left;
    font-family: 'Lilita One', sans-serif;
    font-size: 60px;
    font-style: italic;
    font-weight: bolder;
    margin-right: 40px;
}

header nav{
    float: left;
    margin: 0;
    padding: 0;
}
header nav ul{
    list-style-type: none;
    margin: 25px 8px;
    padding: 0;
    display: inline-block;
}
header nav ul li{
    display: inline;
    margin:0 30px;
}
header nav ul li a{
    text-decoration: none;
    font-family: 'PT Serif', serif;
    font-size: 20px;
    color: #333333;
}
a:hover{
    color: #1b1b1b;
    text-decoration: underline;
    transition: all .4s ease-in-out;

}
.search{
    outline: 0;
    border: 0;
    width: 70px;
    height: 70px;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    border-radius: 50px;
    margin-top: 8px;
}
header button img{
    width: 35px;
}

section{
    margin:10px 20px;   
}

section h1{
    font-family: 'Archivo Black', sans-serif;
        font-size: 40px;
        background: -webkit-linear-gradient(#333333, #5a5454);
        background: linear-gradient(#333333, #333);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
}
article {
    padding: 10px;
    display: flex;
}
.rate{
    margin:10px 20px;
}
.checked {
    color: orange;
    
}
.det{
    font-weight: bold;
    font-style: italic;
    background-color: rgb(125, 129, 133);
    color: rgb(4, 5, 5);
    padding: 7px;
    font-size: 15px;
    line-height: 1em;
    letter-spacing: .05em;
    margin-left: 20px;
    border-radius: 10px;
}
h5{
    font-size: 25px;
    padding: 10px;
    color: rgb(36, 29, 29);
    font-style: italic;
}
.about{
    width: 40%;
    font-size: 20px;
    padding-left: 19px;
    line-height: 1.3em;
    text-align: justify;
    color: rgb(2, 2, 2);
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.btn{
    display: flex;
    justify-content: space-around;
    width: 10%;
    border-radius: 20px;
    border: none;
    font-size: 13px;
    font-weight: 900;
    background-color: #e7eedb;
    cursor: pointer;
    padding: 10px;
    margin-left: 10px;

}
.btn img{
    width: 20px;
}
.character{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.charact{
    width: 48%;
    height: auto;
    margin: 2%;
}
.charact img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50px;
}
.charact p{
    font-size: 15px;
    text-align: justify;
    color:white;
}
.charact small{
    color: white;
}


